<h1>String interpolation</h1>
<p>
  {{stringInterpolation}} | {{numberInterpolation}}
</p>
<hr>
<h1>Property Binding</h1>
<p> Use [value], instead of the 2 squigly brackets</p>
<input type="text" [value]="stringInterpolation">
<!--JSON object, so normal JS code here-->
<p [ngClass]="{redBorder: true}">Is this styled?</p>
<p [ngClass]="{redBorder: false}">Is this styled?</p>
<p [ngClass]="{redBorder: onTest()}">Is this styled?</p>


<p [ngStyle]="{color: 'green', border: '5px solid red'}">Is this styled?</p>
